// 输入宽等长 350px
.form-w350 {
    .el-input {
        width: 350px;
    }
    .el-select .el-input {
        width: 350px;
    }
    .el-textarea{
        width: 350px;
    }
}

// 输入宽等长 500px
.form-w500 {
    .el-input {
        width: 500px;
    }
    .el-select .el-input {
        width: 500px;
    }
    .el-textarea{
        width: 500px;
    }
}
// 多个搜索框时宽度大小
.form-search {
    .el-input {
        width: 150px;
    }
    .el-select .el-input {
        width: 150px;
    }
    .el-textarea{
        width: 150px;
    }
}