// PC端可见或H5端可见,700px为界
.pc {
    @media screen and (max-width: 700px) {
        display: none;
    }
}

.h5 {
    @media screen and (min-width: 700px) {
        display: none;
    }
}

// Margin
.mr10 {
    margin: 10px;
}

.mr10-x {
    margin: 0 10px;
}

.mr0 {
    margin: 0;
}

.inline-block {
    display: inline-block
}

// flex
// flex-space-between
.flex-sb {
    display: flex;
    justify-content: space-between;
}

// flex-space-around
.flex-sa {
    display: flex;
    justify-content: space-around;
}

// 超出宽度省略号表示
.ellipsis {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// 鼠标样式
.cursor-pointer {
    cursor: pointer;
}

// 垂直居中对齐
.center-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}