.mr10 {
    margin: 10px;
}

.mr10-x {
    margin: 0 10px;
}

// flex
// flex-space-between
.flex-sb {
    display: flex;
    justify-content: space-between;
}

// flex-space-around
.flex-sa {
    display: flex;
    justify-content: space-around;
}

// 超出宽度省略号表示
.ellipsis {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// 鼠标样式
.cursor-pointer {
    cursor: pointer;
}