@import "./base.scss";
@import "./components/index.scss";

// 全局reset
html {
    height: 100%;
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    // -webkit-overflow-scrolling: auto;
    overscroll-behavior-y: none;
}

#app {
    height: 100%;
}
a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

div:focus {
    outline: none;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

// 滚动条
::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 5px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    background-color: skyblue;
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #ededed;
    border-radius: 10px;
}

// 兼容
// PC端可见或H5端可见,768px为界
.pc {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.h5 {
    @media screen and (min-width: 768px) {
        display: none;
    }
}
